
// ===========================================
// Global Config
// ===========================================


/* Formatting Rules
   ===========================================
 
   Use BEM naming convention --> http://getbem.com/naming/

   Groups:
   -------------
    1. Structure
    2. Font
    3. Effects
    4. Color

   Properties:
   -------------
    1. Display & Box Model (padding/border/margin)
    2. Height & Width
    3. Positioning
    4. Alphabetical
    5. Mixins
    6. Media Queries

 */


// Font
// ===========================================
  // Google Font URL
  $font-url--google  : "https://fonts.googleapis.com/css?family=Baloo+Thambi|Signika";

  // Font Families
  $font-family-primary    : "Signika", "Helevtica Neue", Helvetica, Arial, sans-serif;
  $font-family-secondary  : "Baloo Thambi", serif;

  // Font Size
  $font-size--base   : 16px;
  $line-height--base : 22px;


// Color
// ===========================================
  // Base Colors
  $black  : #1A1A1A;
  $white  : #FFFFFF;
  $grey   : #333333;
  $blue   : #6FC3DF;


  // Color Shades
  $color-shades: (
    black: (
      x-light   : lighten($black, 10%),
      light     : lighten($black, 5%),
      base      : $black,
      dark      : darken($black, 5%)
    ),
    blue: (
      base      : $blue,
      dark      : darken($blue, 12%),
      x-dark    : darken($blue, 18%),
      xx-dark   : darken($blue, 24%)
    )
  );


