
// ===========================================
// Header
// ===========================================


// Structure
// ===========================================  
  #header {
    margin: rem(15px) 0;

    @include bp-min-width(700px) {
      margin-top: rem(30px);
    }

    @include bp-min-width(1400px) {
      margin-top: rem(60px);
    }
  }

  #scoreboard {
    margin: rem(7.5px) auto;
  }

  .score {
    margin-right: rem(7.5px);
  }

  .button {
    margin: 0 rem(12.5px);
  }


// Font
// ===========================================
  #scoreboard {
    font-size: rem(18px);
  }

  #btnStart,
  #btnSolve,
  #btnChange {
    font-size:  rem(20px);
  }

