
// ===========================================
// Options
// ===========================================


// Structure
// ===========================================  
  #options {
    margin-top: rem(15px);
  }

  .radio {
    margin: 0 rem(7.5px);
    cursor: pointer;
  }

// Font
// ===========================================
  #options {
    font-size: rem(18px);
  }

