
// ===========================================
// Puzzle
// ===========================================


// Structure
// ===========================================  
  .puzzle {
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  .puzzle__tile {
    border-top: solid rem(2px) transparent;
    border-right: solid rem(2px) transparent;
    border-bottom: solid rem(2px) transparent;
    border-left: solid rem(2px) transparent;
    position: absolute;

    background-image: url(../img/puzzle.jpg);
    z-index: 1;
  }

  
// Effects
// ===========================================
  .puzzle__tile {
    opacity: 1;
    @include transition("border, opacity", 0.5s, "ease-in-out");
  }

  .puzzle__tile--hidden {
    opacity: 0;
    z-index: 0;
  }

  .puzzle--tiled {
    .puzzle__tile {
      border-top-color: rgba(white, 0.15);
      border-right-color: rgba(black, 0.2);
      border-bottom-color: rgba(black, 0.2);
      border-left-color: rgba(white, 0.15);
    }
  }


// Color
// ===========================================
  .puzzle {
    background: color-shade(black, x-light);
    box-shadow: 0 0 rem(25px) rem(5px)  color-shade(black),
          inset 0 0 rem(75px) rem(20px) color-shade(black, light);
  }

  