
// ===========================================
// Puzzle - Change
// ===========================================


// Structure
// ===========================================  
  .puzzle__arrow {
    padding: rem(10px);
    cursor: pointer;
    @include absolute-vcenter;
  }

  .puzzle__arrow--left {
    left: 0;
  }

  .puzzle__arrow--right {
    right: 0;
  }


// Effects
// ===========================================
  .puzzle__arrow {
    opacity: 0;
    z-index: -1;
    @include transition("opacity", 0.5s, "ease-in");
  }

  .puzzle--change {
    .puzzle__arrow {
      opacity: 1;
      z-index: 10;
    }
  }


// Font
// =========================================== 
  .puzzle__arrow {
    font-size: rem(40px);
  }


// Color
// =========================================== 
  .puzzle__arrow {
    background: rgba($black, 0.7);
    color: $white;
  }

