
// ===========================================
// Puzzle - Desktop
// ===========================================


// Size
// ===========================================  
  .puzzle--desktop {
    height: rem(600px);
    width: rem(600px);


    .puzzle__tile {
      height: rem(200px);
      width: rem(200px);
      background-size: 600px 600px;


      &[data-id='0'] {
        background-position: 0 0;
        top: 0;
        left: 0;
      }

      &[data-id='1'] {
        background-position: -200px 0px;
        top: 0;
        left: 200px;
      }

      &[data-id='2'] {
        background-position: -400px 0px;
        top: 0;
        left: 400px;
      }

      &[data-id='3'] {
        background-position: 0px -200px;
        top: 200px;
        left: 0px;
      }

      &[data-id='4'] {
        background-position: -200px -200px;
        top: 200px;
        left: 200px;
      }

      &[data-id='5'] {
        background-position: -400px -200px;
        top: 200px;
        left: 400px;
      }

      &[data-id='6'] {
        background-position: 0px -400px;
        top: 400px;
        left: 0px;
      }

      &[data-id='7'] {
        background-position: -200px -400px;
        top: 400px;
        left: 200px;
      }

      &[data-id='8'] {
        background-position: -400px -400px;
        top: 400px;
        left: 400px;
      }
    }
  }

