
// ===========================================
// Links
// ===========================================


// Structure
// ===========================================
  .link {
    outline: 0;
    text-decoration: none;
  }

  .link--underline {
    border-bottom: rem(1px) solid;
  }


// Color
// ===========================================
  .link {
    color: color-shade(blue, dark);
    
    @include transition("color", 0.3s);

    &:hover {
      color: color-shade(blue);
    }

    &:active {
      color: color-shade(blue, xx-dark);
    }
  }

